body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #394053;
    color: #e8f1f2;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a { 
    text-decoration: none; 
    color: #e8f1f2;
}
a:visited { 
    text-decoration: none; 
    color: #e8f1f2;
}
a:hover { 
    text-decoration: none; 
    color: #e8f1f2;
}
a:focus { 
    text-decoration: none; 
    color: #e8f1f2;
}
a:hover, a:active { 
    text-decoration: none; 
    color: #e8f1f2;
}
#about {
    text-align: left;
    padding-left: 15px;
}