table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

figure {
    margin: 20px;
}

figure caption {
    font-weight: bold;
    margin-bottom: 10px;
}
footer {
    font-size: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;;
}