<header>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/"> Home ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/introduction.html">Introduction ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/heron/about.html">Luxurious Heron ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/stuff/CR@P py.htm">CR@P py ||</a>


    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/hedging/tables.html">Tables ||</a>


    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/client/client.html">Client ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/byo_intro.html">BYO Intro ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/firstscripts.html">First Scripts ||</a>
    <a href="https://webpages.charlotte.edu/lhonake1/itis3135/hobby/index.html">Hobby</a>
</header>