<footer>
    <a href="https://webpages.charlotte.edu/lhonake1/" rel="noopener noreferrer">University Webpage Home ||</a>
            <a href="https://www.linkedin.com/in/loganhonaker/" target="_blank" rel="noopener noreferrer">LinkedIn ||</a>
            <a href="https://github.com/LoganHonaker" target="_blank" rel="noopener noreferrer">GitHub Profile ||</a>
            <a href="https://loganhonaker.github.io/" target="_blank" rel="noopener noreferrer">GitHub.io ||</a>
            <a href="https://loganhonaker.github.io/itis3135/" target="_blank">ITIS-3135 Site ||</a>
            <a href="contract/contract.html" target="_blank">Contract</a>
    <p>
        Page Built by: <a href="https://loganhonaker.github.io/itis3135/hedging/hedging.html" target="_blank">Hons' Hedging ©2024</a>
    </p>
</footer>